<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Account_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Account_Manager.Properties.Settings>
            <setting name="persistedSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keepEnglish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="count" serializeAs="String">
                <value>10</value>
            </setting>
        </Account_Manager.Properties.Settings>
    </userSettings>
</configuration>